<div class="row-fluid">
	<div class="span2">
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRlhT0hwkrhRMYj7bAvpq7whCLLvQyy5t0OqsRBDuizSVSUfCkE" class="img-circle">
  </div>
  <div class="span10">
    <h1>Dealer plays..</h1>
  </div>
</div>
<br>
<div class="row-fluid">
  <div class="span6">
    <h4>Dealer Cards</h4>
    <% if @player_buttons = true %>
    <p>
      <img src="/images/cards/cover.jpg">
      <%= to_image(session[:dealer_cards][1]) %>
    </p>
    <% else %>
    <p>
      <% session[:dealer_cards].each do |card| %>
        <%= to_image(card) %>
      <% end %>
    </p>
    <% end %>
  </div>
  <div class="span6">
    <h4><%= session[:player_name] %>'s Cards | Total Value: <%= calculate_total(session[:player_cards]) %></h4>
    <p>
      <% session[:player_cards].each do |card| %>
        <%= to_image(card) %>
      <% end %>
    </p>
  </div>
</div>