<div class="row-fluid">
	<div class="span2">
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRlhT0hwkrhRMYj7bAvpq7whCLLvQyy5t0OqsRBDuizSVSUfCkE" class="img-circle">
  </div>
  <div class="span10">
    <h1>Goodluck <%= session[:player_name] %>!</h1>
  </div>
</div>
<br>
<div class="row-fluid">
  <div class="card-table span5 offset1">
    <p><h4>Dealer Cards</h4></p>
    <p>
      <% session[:dealer_cards].each do |card| %>
        <%= card_image(card) %>
      <% end %>
    </p>
  </div>
  <div class="card-table span5">
    <p>
      <h4><%= session[:player_name] %>'s Cards | Total Value: <%= calculate_total(session[:player_cards]) %></h4>
    </p>
    <p>
      <% session[:player_cards].each do |card| %>
        <%= card_image(card) %>
      <% end %>
    </p>
  </div>
</div>
<br>
<% if @player_buttons %>
<div class="row-fluid">
    <h3>What would you like to do?</h3>
    <div class="span5 offset1">
      <form action="/game/player/hit" method="post">
        <button class="btn btn-success btn-block" type="submit" value="hit">HIT</button>
      </form>
    </div>
    <div class="span5">
      <form action="/game/player/stay" method="post">
        <button class="btn btn-danger btn-block" type="submit" value="stay">STAY</button>
      </form>
    </div>
</div>
<% end %>